.container-header{
    width: 90%;
    height: 150px;
    background-color: aqua;
}

.container-section-promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.item-article{
    width: 30%;
    height: 100px;
    background-color: aqua;
}